body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: radial-gradient(circle at top left, #0f172a, #020617);
    color: white;
}

/* MAIN WRAPPER */
.wrapper {
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* LEFT TEXT */
.left {
    max-width: 500px;
}

.left h1 {
    font-size: 52px;
    margin-bottom: 10px;
}
.app {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #0f172a;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    margin-bottom: 30px;
}

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
    color: white;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
}

/* MEMBERS */
.members span {
    background: #1e293b;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 20px;
}

/* EXPENSE BOX */
.expense-box input,
.expense-box select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    border: none;
}

.expense-box button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background: #6366f1;
    color: white;
}

/* LOG */
.log p {
    background: #1e293b;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
}

/* FAIRNESS */
.fairness {
    background: rgba(99, 102, 241, 0.2);
    padding: 15px;
    border-radius: 12px;
}

.left span {
    background: linear-gradient(90deg, #6366f1, #8b5cf6);
    -webkit-background-clip: text;
    color: transparent;
}

.left p {
    color: #94a3b8;
    font-size: 18px;
}

/* LOGIN CARD */
.login-card {
    width: 380px;
    padding: 35px;
    border-radius: 18px;
    background: rgba(30, 41, 59, 0.55);
    backdrop-filter: blur(16px);
    box-shadow: 0 0 50px rgba(99, 102, 241, 0.3);
}

.login-card h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    background: #1e293b;
    color: white;
}

/* BUTTONS */
button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #6366f1, #8b5cf6);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.google-btn {
    background: white;
    color: black;
}

.divider {
    text-align: center;
    margin: 12px 0;
    color: #94a3b8;
}
